# Ignore environment variable files
scripts/.env

Project Screenshots/rm

.venv/
__pycache__/

workflow diagram/flowchart.md

fraud_report.txt
instructions.txt
.env
docker-compose.yml
eee.md
my-sanity-project/
src/*